.registration-form-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    top: 25%;
}

.gradient-container {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,44,80,1) 35%, rgba(0,212,255,1) 100%);
}

.logo-container {
    text-align: center;
    margin: 25px;
}
