.regular-input {
    width: auto!important;
    padding: 0 0 18px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.react-tagsinput-tag {
    background-color: #127cd8!important;
    color: white!important;
    border-color: white!important;
    border-radius: 5px!important;
}
