.notification .dropdown-toggle {
    background-color: transparent!important;
    border: none!important;
    color: #F47421;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.badge.counter {
    position: absolute;
    right: 35px;
}

.unread {
    background-color: #e6e6e6;
}

.notification .dropdown-divider {
    margin: 0;
}

.notification-item {
    padding: 15px 20px!important;
    cursor: pointer;
}

.notification-item:active {
    background-color: inherit;
}

.rm-active-bg:active {
    background-color: inherit;
}

.link {
    cursor: pointer;
    color: #007bff;
    font-size: 15px;
}

.link:hover {
    text-decoration: underline;
}
