@import "index.css";
@import "../node_modules/react-tagsinput/react-tagsinput.css";
@import "../node_modules/react-datepicker/dist/react-datepicker.css";


@font-face {
    font-family: "icomoon";
    src:  url("./assets/fonts/icon-fonts/icomoon.eot?n21hu1");
    src:  url("./assets/fonts/icon-fonts/icomoon.eot?n21hu1#iefix") format("embedded-opentype"),
    url("./assets/fonts/icon-fonts/icomoon.ttf?n21hu1") format("truetype"),
    url("./assets/fonts/icon-fonts/icomoon.woff?n21hu1") format("woff"),
    url("./assets/fonts/icon-fonts/icomoon.svg?n21hu1#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
    content: "\e903";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-minus:before {
    content: "\e901";
}
.icon-plus:before {
    content: "\e902";
}

.invalid-feedback-visible {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: var(--invalid-input-feedback-color);
}

.input-group-text {
    cursor: pointer;
}

button:disabled {
    background-color: var(--disabled-button-color)!important;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.align-sub {
    vertical-align: sub;
}

.mt-10-auto {
    margin: 10px auto;
}

.country_code_dropdown {
    background-color: white!important;
    color: #78778E!important;
    border: 1px solid #ced4da!important;
    font-weight: normal;
    box-shadow: none!important;
}

.country_code_dropdown:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)!important;
}

.right-fixed-alert {
    top: 20px;
    right: 0;
    margin-right: 10px;
    z-index: 9999;
}

.green-shadow {
    box-shadow: 0 0 5px 3px #22b66e;
    margin-bottom: 0;
}

#label-padding-0 label {
    padding: 0;
}

.warning-control-custom .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f0ad4e!important;
}

.warning-control-custom .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f0ad4e
}
.warning-control-custom .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f0ad4e
}
.warning-control-custom .custom-control-input:active ~ .custom-control-label::before {
    background-color: #f0ad4e;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

li.active span {
    background-color: #F47421!important;
}

.blue {
    color: #127cd8;
}

.select-status input {
    height: 30px;
}

.filter-dropdown {
    min-width: 250px;
}

.p5-15 {
    padding: 5px 15px;
}

.no-decoration {
    text-decoration: none !important;
}

.no-decoration:hover {
    text-decoration: none !important;
}

.filter-icon {
    transform: rotate(90deg);
}
