:root {
    --disabled-button-color: #858585;
    --invalid-input-feedback-color: #dc3545;
    --grey-bg-color: #f0f0f0;
    --admin-dashboard-color: #162c50;
}

html {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
